@import '../vars.scss';
@import '../media.scss';

.loginPage {
    display: flex;
	align-items: flex-start;
	margin-top: 1em;

    .loginPage__content {
		flex: 1;
		min-width: $minContainerWidth;
        margin-left: 3em;

        .pageHeader {
            font-size: 200%;
            border-bottom: solid 1px $borderColor;
        }
    }

    @media screen and (max-width: 580px) {
		flex-wrap: wrap;

		> svg {
			flex: 1;
			min-width: 200px;
		}
		
        .loginPage__content {
            margin-left: 0em;
        }
    }
}
