@import '../vars.scss';

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.button {
    display: inline-flex;
    border: none;
    padding: 1em 4em;
    border-radius: 6px;
    color: $buttonTextColor;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 80%;

    align-items: center;

    svg {
        margin-right: 3px;
    }

    &:active {
        padding: 1.15em 4em 0.85em 4em;
    }

    &.--primary {
		background-color: $buttonPrimary;

        &:hover {
            background-color: darken($buttonPrimary, 10%);
        }
    }

    &.--danger {
		background-color: $errorColor;

        &:hover {
            background-color: darken($errorColor, 10%);
        }
    }

    &.--pending {
        pointer-events: none;
        opacity: 0.8;
        padding-left: 2.7em;

        svg {
            margin-right: 0.3em;
            animation: spin 1s linear infinite;
        }
    }

    &.--icon {
        padding: 0.5em 1em;

        &:active {
            padding: 0.6em 1em 0.4em 1em;
        }
    }
}
