@import './styles/vars.scss';

@import './styles/pages/login-page.scss';
@import './styles/components/form.scss';
@import './styles/components/button.scss';
@import './styles/components/alert.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}

#root {
	padding: 0 1em;
	position: relative;
	min-height: 100vh;
	width: 100%;
}

.container {
	margin: 1em auto;
	max-width: $maxContainerWidth;
	min-width: $minContainerWidth;
}

.pageHeader {
    padding: 5px 0;
    margin: 5px 0;

    text-transform: uppercase;
    font-size: 140%;
    font-weight: normal;
    color: $headerColor;
}

.divider {
	display: block;
	padding-top: 0.1em;
	margin-bottom: 0.1em;
	border-bottom: solid 1px $borderColor;
}