$mainFontColor: #000000;
$backgroundColor: #ffffff;

$headerColor: #444444;
$borderColor: #eeeeee;
$lightColor: #f6f6f6;

$errorColor: #ff5c5c;

$buttonTextColor: #ffffff;
$buttonPrimary: #5d9aff;
$secondColor: #FF964C;